@model OdontoSchedule.Models.Paciente

@{
    ViewData["Title"] = "EsqueciMinhaSenha";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<section class="login">
    <div class="auth__repr">
        <div>
            <img src="/img/logo_auth.png" />
        </div>
    </div>
    
    <div class="login__conteudo">
        <section class="recuperacao-senha-container">

            <div class="titulo">
                <h1>Esqueceu sua senha?</h1>
            </div>

            <form asp-controller="Paciente" asp-action="EsqueciMinhaSenhaC">
                <div class="formulario__inputs">
                    <div class="login__formulario-item">
                        <label asp-for="Email"></label>
                        <input type="text" name="Email" class="odonto-input largo alto redondo">
                    </div>
                </div>

                <button class="odonto-botao-primario maior" type="submit">Enviar</button>
            
                <div class="login__opcoes">
                    <a asp-action="Login">Voltar</a>
                </div>
            </form>
        </section>
    </div>

</section>
               