<header>
    <span class="logo"></span>

    @if(!User.IsInRole("ADMIN"))
    {
        <ul>
            <li><a asp-controller="Atendimento" asp-action="Create">Agendar Paciente</a></li>
            <li><a asp-controller="Atendimento" asp-action="Index">Ver agendamentos</a></li>
            <li><a asp-controller="Atendimento" asp-action="Index" asp-route-status="true">Agendamentos concluídos</a></li>
        </ul>

        <a id="notificacoes-gatilho-menu"><i class="fa-regular fa-bell"></i></a>
    }
</header>
