<header>
    <span class="logo"></span>

    @if(!User.IsInRole("ADMIN"))
    {
        <ul>
            <li><a asp-controller="Atendimento" asp-action="Create">Fazer agendamento</a></li>
            <li><a asp-controller="Atendimento" asp-action="Index">Ver agendamentos</a></li>
            <li><a asp-controller="Atendimento" asp-action="Index" asp-route-status="true">Agendamentos concluídos</a></li>
        </ul>

        <a href="#" class="menu">
            <h2 class="menu-title"><i class="fa-regular fa-bell"></i></h2>
            <div class="menu-dropdown">
                <h3>Notificações</h3>

                <ul>
                </ul>
            </div>
        </a>
    }
</header>
