<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OdontoSchedule</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/components.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OdontoSchedule.styles.css" asp-append-version="true" />
    <script src="~/js/home.js"></script>
    <script src="~/js/OdontoModal.js"></script>
    <script src="https://kit.fontawesome.com/17c066a4d1.js" crossorigin="anonymous"></script>
</head>
<body>
   @Html.Partial("_Header")

    <div id="pagina-conteudo">
        @Html.Partial("_Sidebar")

        <main role="main">
            @RenderBody()
        </main>

        <div id="barra-direita">

        </div>

        <div class="odonto-modal">
            <div class="modal">

                <div class="modal__details">
                    <h1 class="modal__title"></h1>
                </div>

                <p class="modal__text"></p>

                <button class="modal__btn">Ok</button>
            </div>
        </div>

    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
