<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OdontoSchedule</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/components.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OdontoSchedule.styles.css" asp-append-version="true" />

    @if (!User.IsInRole("ADMIN"))
    {
        <script src="~/js/home.js"></script>
    }

    <script src="~/js/menu.js"></script>
    <script src="~/js/OdontoModal.js"></script>
    <script src="https://kit.fontawesome.com/17c066a4d1.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js"></script>
</head>
<body>
   @Html.Partial("_Header")

    <div id="pagina-conteudo">
        @Html.Partial("_Sidebar")

        <main role="main">
            @RenderBody()
        </main>

        <div id="barra-direita">

        </div>

        <div class="odonto-modal">
            <div class="modal">

                <div class="modal__details">
                    <h1 class="modal__title"></h1>
                </div>

                <p class="modal__text"></p>

                <button class="modal__btn">Ok</button>
            </div>
        </div>

        @if (User.IsInRole("SECRETARIA") || User.IsInRole("ADMIN"))
        {
             <div class="odonto-trocar-senha">
                <div class="trocar-senha-conteudo">

                    <a class="trocar-senha-fechar"><i class="fa-solid fa-xmark"></i></a>

                    <div>
                        <span>Alteração de senha</span>
                    </div>

                    <form>
                        <input type="password" placeholder="Nova senha" name="senha" class="odonto-input"/>

                        <button type="submit" class="odonto-botao-secundario">Enviar</button>
                    </form>
                </div>
            </div>
            
         
            <script src="~/js/funcionario_alterar_senha.js"></script>
        }

        @if (User.IsInRole("ADMIN"))
        {
            <div class="odonto-trocar-email">
                <div class="trocar-email-conteudo">

                    <a class="trocar-email-fechar"><i class="fa-solid fa-xmark"></i></a>

                    <div>
                        <span>Email de recuperação</span>
                    </div>

                    <form>
                        <input type="email" placeholder="Email" name="email" class="odonto-input" />

                        <button type="submit" class="odonto-botao-secundario">Enviar</button>
                    </form>
                </div>
            </div>

            <script src="~/js/administrador_alterar_email.js"></script>
        }
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
