

<div id="barra-lateral">
    <div>

    </div>
    <div id="barra-lateral__informacoes">
        <span id="lateral-icone-usuario"></span>

        <div>
            <span>
                @if (User.IsInRole("PACIENTE"))
                {
                    @User.Identity.Name
                }
                else
                {
                    @Html.Encode("SECRETARIA")
                }
            </span>
            <span>
                @if (User.IsInRole("PACIENTE"))
                {
                    @Html.Encode("Paciente")
                }
                else
                {
                    @Html.Encode("Funcionário")
                }
            </span>
        </div>
        <ul>
            <li>A</li>
            <li>A</li>
            <li>A</li>
        </ul>
    </div>
</div>
