

<div id="barra-lateral">
    <div>

    </div>
    <div id="barra-lateral__informacoes">
        <span id="lateral-icone-usuario"></span>

        <div>
            <span>Nome Completo</span>
            <span>Paiente</span>
        </div>
        <ul>
            <li>A</li>
            <li>A</li>
            <li>A</li>
        </ul>
    </div>
</div>
