@{
    ViewData["Title"] = "AlteracaoSenha";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<section class="login">
    <div class="auth__repr">
        <div>
            <img src="/img/logo_auth.png" />
        </div>
    </div>

    <div class="login__conteudo">
        <section class="recuperacao-senha-container">

            <div class="titulo">
                <h1>Alterar Senha</h1>
            </div>

            <form id="formulario-alterar-senha">
                <input type="hidden" name="ID" value="@ViewBag.idRecuperacao"/>

                <div class="formulario__inputs">
                    <div class="login__formulario-item">
                        <label>Codigo</label>
                        <input type="text" name="Codigo" class="odonto-input largo alto">
                    </div>

                    @if(!ViewBag.ePaciente)
                    {
                        <select name="funcionario" class="odonto-input largo alto">
                            <option value="secretaria">Secretária</option>
                            <option value="admin">Administrador</option>
                        </select>
                    }

                    <div class="login__formulario-item">
                        <label>Nova Senha</label>
                        <input type="password" name="Senha" class="odonto-input largo alto">
                    </div>
                </div>

                <button id="botao-alterar-senha" class="odonto-botao-primario maior" type="button">Confirmar</button>

                <div class="error-text">
                </div>

                <div class="login__opcoes">
                    <a asp-controller="Paciente" asp-action="Login">Voltar</a>
                </div>
            </form>
        </section>
    </div>

</section>

@section Scripts {
    @{
        <script src="/js/recuperacao_senha.js"></script>
    }
}