@model OdontoSchedule.Models.Dentista

@{
    ViewData["Title"] = "Criar Dentista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container-cadastrar-dentista">
    <h1>Cadastrar Dentista</h1>

    <form asp-action="Create" class="flex-column gap-sm">
        <input type="hidden" name="no_redirect" value="true" />
        <div class="form-data">
            <label asp-for="Nome">Nome:</label>
            <input type="text" class="odonto-input largo" asp-for="Nome">
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="form-data">
            <label asp-for="CPF">CPF:</label>
            <input type="text" class="odonto-input largo" asp-for="CPF">
            <span asp-validation-for="CPF" class="text-danger"></span>
        </div>
         <div class="form-data">
            <label asp-for="CRO">CRO:</label>
            <input type="text" class="odonto-input largo" asp-for="CRO">
            <span asp-validation-for="CRO" class="text-danger"></span>
        </div>
        <div class="form-data">
            <label asp-for="Especialidade">Especialidade:</label>
            <input type="text" class="odonto-input largo" asp-for="Especialidade">
            <span asp-validation-for="Especialidade" class="text-danger"></span>
        </div>

        <div class="form-data">
        <label asp-for="DataNascimento">Data de Nascimento:</label>
        <input type="date" class="odonto-input largo" asp-for="DataNascimento" />
        <span asp-validation-for="DataNascimento" class="text-danger"></span>
        </div>

        <button class="odonto-botao-primario maior" type="submit">Criar</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
