@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Bem vindo(a) ao</h2>
    <h1 class="Nomeaplicacao">Odonto Schedule</h1>
    <p>Agende agora sua consulta na DentalIn</a>.</p>
    <a href="https://localhost:44300/Atendimento/Create" class="btn">Agendar</a>
</div>