@{
    ViewData["Title"] = "Home Page";
}

<div class="bem-vindo flex-column">

    <div class="flex-column gap-sm mb-2">
        <span><b>Bem vindo(a) ao</b></span>
        <h1>Odonto Schedule</h1>
        <p>Agende agora sua consulta na DentalIn</p>
    </div>

    <a asp-controller="Atendimento" asp-action="Create" class="odonto-botao-primario maior align-self-center">Agendar</a>
</div>