@{
    ViewData["Title"] = "Autenticacao";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<section class="login">
    <div class="auth__repr">
        <div>
            <span>Seja bem vindo(a) ao ...</span>
            <img src="/img/logo_auth.png" />
        </div>
    </div>
    <div class="login__conteudo">
        <section class="login-container login-container--funcionario">

            <div class="titulo">
                <h1>Login</h1>
            </div>

            <form data-url="/Funcionario/Login" class="login-formulario">
                <div class="formulario__inputs">
                    <div class="login__formulario-item">
                        <label>Usuário</label>
                        <input type="text" name="Usuario" class="odonto-input largo alto redondo">
                    </div>
                    <div class="login__formulario-item">
                        <label>Senha:</label>
                        <input type="password" name="Senha" class="odonto-input largo alto redondo">
                    </div>
                </div>

                <button class="odonto-botao-primario maior" type="submit">Entrar</button>
                
                <div class="error-text">
                </div>

                <div class="login__opcoes">
                    <a href="#" id="link-esqueceu-senha">Esqueceu a senha?</a>
                </div>
            </form>

        </section>
        <a id="trocar-perfil" class="odonto-botao-primario maior" asp-controller="Paciente" asp-action="Login">Logar como paciente</a>
    </div>

</section>

@section Scripts {
    @{
        <script src="~/js/auth.js"></script>;
        <script src="/js/esqueceu_senha_funcionario.js"></script>
    }
}