@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

html, body {
  width: 100%;
  min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #C5D7F2, #ffffff);
}

body > main {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    padding: 2rem 0;
}


.cadastro {
    display: flex;
    width: 90%;
    min-height: 80%;
    background-color: #F2F2F2;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


.cadastro__conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 65%;
  background: #fff;
  padding: 0 1rem 0.5rem 1rem;
  border-radius: 20px;
  border: 2px solid #5A98BB
  
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.cadastro__conteudo .formulario button[type="submit"] {
    margin: 2rem 0;
    align-self: center;
}

form .input-radio{
  font-size: 24px;
  height: 20px;
  width: 20px;
}

form .contato {
  display: flex;
  gap: 1rem;
}

form .contato > * {
    display: flex;
    flex-direction: column;
    width: max-content;
}

a{
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 1rem;
  align-self: center;
}

a:hover{
  color: #8396b3;
  transition: background-color 0.3s;
}

.cadastro__repr {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10rem;
    background-image: url("/img/cadastro_repr.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100%;
    width: 40%;
    color: white;
    font-size: 1.5rem;
    box-shadow: inset 0 0.3rem 0.3rem rgba(0, 0, 0, 0.25);
}


.cadastro__repr > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 80%;
}
.cadastro__repr img {
  width: 100%;
}

.error-text {
  font-size: 15px;
  color: red;
}

#campos-sexo {
  display: flex;
  margin: 1rem 0;
  gap: 2rem;
}

#campos-sexo .sexo {
    display: flex;
    align-items: center;
}

.login {
    display: flex;
    width: 90%;
    background-color: #F2F2F2;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.login__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;

    gap: 4rem;
}

.login__conteudo > #trocar-perfil {
    align-self: flex-end;
    margin-right: 2rem;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 1rem 0;
    border-radius: 20px;
    border: 2px solid #346a8a;
    min-width: 45%;
    position: relative;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.login-container--funcionario::after {
    content: "Entrada como Funcionário";
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-100%);
}

.login-container--paciente::after {
    content: "Entrada como Paciente";
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-100%);
}

.login-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 90%;
}

.login-formulario > .formulario__inputs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.login__formulario-item {
    display: flex;
    flex-direction: column;
}

.login__opcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

label {
    font-weight: 600;
    font-size: 1rem;
}

.titulo {
    font-size: 2rem;
}


a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}

a:hover {
    color: #8396b3;
    transition: background-color 0.3s;
}

.auth__repr {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10rem;
    background-image: url("/img/cadastro_repr.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100dvh;
    width: 40dvw;
    color: white;
    font-size: 1.5rem;
    box-shadow: inset 0 0.3rem 0.3rem rgba(0, 0, 0, 0.25);
}

.auth__repr > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 80%;
}

.auth__repr img {
    width: 100%;
}

@media only screen and (max-width: 700px) {
    .auth__repr, .cadastro__repr {
        display: none;
    }

    .login {
        flex-direction: column;
        height: 90dvh;
    }

    .login__conteudo {
        height: 100%;
    }

    .login-formulario {
        gap: 1.5rem;
    }

    .login-container {
        min-width: 80%;
        padding: 1rem 0;
    }

    .container {
        width: fit-content;
        padding: 1rem 0.5rem;
    }

    .cadastro {
        width: fit-content;
    }

    .cadastro__conteudo {
        padding: 0.3rem;
    }

    .contato {
        flex-direction: column;
    }

    .contato > div {
        flex-direction: row;
        gap: 1rem;
    }

    .contato input {
        width: 15rem;
    }
}