.agenda-semanas .agenda {
    display: none;
}

.agenda-semanas .agenda .coluna {
    flex: 1;
    border: 1px solid #ccc;
    min-height: 60dvh;
}

.agenda-semanas .agenda .coluna .dia {
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.agenda-semanas .agenda .coluna .hora {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.agenda-semanas .agenda .coluna .hora span:last-child {
    padding: 0.3rem;
    background: red;
}

.agenda-semanas .agenda .coluna .hora.disponivel span:last-child {
    background: green;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
    background: rgba(255, 255, 255, 0.5);
    animation: fadeIn 1s ease both;
}

.popup.aberto {
    display: flex;
}

.popup__content {
    padding: 1rem 3rem;
    background: white;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
