*:not(i) {
    font-family: "Inter", sans-serif !important;
}

html, body {
    padding: 0;
    margin: 0;
}

.odonto-botao-primario {
    border: none;

    background: #61A5AE;
    border-radius: 2rem;
    color: white;

    padding: 0.3rem 1rem;
}

.odonto-botao-secundario {
    border: none

    background: #00597E;
    border-radius: 2rem;
    color: white;

    padding: 0.3rem 1rem;
}

.odonto-botao-primario.maior, .odonto-botao-secundario.maior {
    padding: 0.75rem 2.5rem;
}

.odonto-input {
    width: 8rem;
    height: 1.5rem;

    background: #FFFEFE;
    border: 1px solid #34ADFA;
    border-radius: 0.3rem;
}

.odonto-input.largo {
    width: 15rem;
}

.flex-row {
    display: flex;
    gap: 2rem;
}

.campos-formulario-linha {
    display: flex;
    gap: 0.4rem;
}

.campos-formulario-linha__campo {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.form-data {
    display: flex;
    justify-content: space-between;
    width: 20rem;
}

.texto-preto {
    color: black;
}